<app-header class="" />

<div class="main-container">
  <div class="assets-container">
    <app-total-assets class="asset-card total-card" />
    <app-nft-assets class="asset-card nft-card" />
    <app-token-assets class="asset-card token-card" />
  </div>
  <div class="wallets-container">
    <app-wallets />
  </div>
  <div class="transactions-container">
    <app-recent-transactions class="asset-card recent-card" />
  </div>
</div>

<!-- TODO -->
<!-- add bootstrap and try to use bootstrap columns and rows for this
height is acting really weird but good start -->
